@model IEnumerable<Rentanime.Models.Anime>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anime</h2>
<p>
    @Html.ActionLink("Create Anime", "Create", null, new { @class = "btn btn-primary", @style = "color:white" })
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>Anime</th>
        <th>Genre</th>
    </tr>
    @foreach (var Anime in Model)
    {
        <tr>
            <td>@Html.ActionLink(Anime.Name, "Edit", "Anime", new { id = Anime.Id }, null)</td>
            <td>@Anime.Genre.Name</td>
        </tr>
    }
</table>
