@model IEnumerable<Rentanime.Models.Anime>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anime</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>Anime</th>
    </tr>
    @foreach (var Anime in Model)
    {
        <tr>
            <td>@Html.ActionLink(Anime.Name,"Details","Anime",new {id=Anime.Id},null)</td>
        </tr>
    }
</table>
